<!-- Footer -->
<head>
    <style>
        footer {
            background-color: #343a40;
            color: white;
            padding: 20px 0;
            text-align: center;
        }
        footer a {
            color: #ffc107;
            text-decoration: none;
            margin: 0 10px;
        }
        .social-icon img {
            width: 30px;
            margin: 0 5px;
            transition: transform 0.3s ease-in-out;
        }
        .social-icon img:hover {
            transform: scale(1.1);
        }
    </style>
</head>
<footer>
    <p>&copy; 2024 Guessr.dk</p>
    <div>
        <a href="/">Hjem</a>
        <a href="/about">Om os</a>
        <a href="/about">Kontakt os</a>
        <a href="/privacy">Privatlivspolitik</a>
    </div><br>
    <div class="social-media">
        <a href="https://instagram.com" target="_blank" class="social-icon">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram">
        </a>
        <a href="https://twitter.com" target="_blank" class="social-icon">
            <img src="https://upload.wikimedia.org/wikipedia/sco/9/9f/Twitter_bird_logo_2012.svg" alt="Twitter">
        </a>
        <a href="https://facebook.com" target="_blank" class="social-icon">
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook">
        </a>
    </div>
</footer>